body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

button {
    display:flex;
}

.container {
    display:flex;
    max-width: 960px;
    flex-wrap: wrap;
}

.new {
    display:flex;
    outline:1px solid black;
    aspect-ratio: 1/1;
    width: 60px;
    max-height: 60px;
    max-width: 60px;
    flex-grow: 1;   
    
}